.calculator {
    button {
        outline: none;
        font-size: 32px;
        background-color: black;
        color: white;
        // border-radius: 50%;
    }
    button:hover {
        opacity: 0.8;
    }
    &__display {
        grid-column: 1 / 5;
    }
    &__AC {
        grid-column: 1 / 3;
    }
    &__number0 {
        grid-column: 1 / 3;
    }
    &__display{
        background-color: pink;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 10px;
        font-size: 32px;

    }
}