.calculator {
  width: 90%;
  margin: auto;
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: 70px 70px 70px 70px;
  grid-template-rows: minmax(90px, auto) 70px 70px 70px 70px 70px;
}